  

  .group1 p {
  	background-color: forestgreen;
  	
    text-align: center;
  }

  .group2 p {
  	background-color: khaki;
  	text-align: center;
  	
  }
  .group3 p {
  	background-color: yellow;
  	text-align: center;
  }
  .group4 p {
  	background-color: pink;
  	text-align: center;
  }
  .group5 p {
  	background-color: red;
  	text-align: center;
  }
.group6 p {
	background-color: greenyellow;
	text-align: center;
}
.group7 p {
	background-color: powderblue;
	text-align: center;
}